.container {
  img {
    object-fit: cover;
    width: 100%;
    height: 25rem;
  }

  .post {
    max-width: 1120px;
    margin: 5rem auto;
    padding: 0 2rem;

    h1 {
      font-size: 3rem;
      line-height: 3.265rem;
      font-weight: 900;
    }
  }
}
