.container {
  img {
    object-fit: cover;
    width: 100%;
    height: 25rem;
  }

  .post {
    max-width: 720px;
    margin: 5rem auto;
    padding: 0 2rem;

    > h1 {
      font-size: 3rem;
      line-height: 3.265rem;
      font-weight: 900;
    }

    > span {
      font-style: italic;
      color: var(--gray-300);
    }

    .content {
      max-width: 720px;
      margin-top: 4rem;

      h2 {
        font-size: 2.25rem;
        font-weight: 700;
      }

      .postContent {
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.125rem;
        color: var(--gray-100);
        text-align: justify;

        p, ul {
          margin: 1.5rem 0;
        }

        strong {
          color: var(--gray-10);
        }

        ul {
          padding-left: 1.5rem;

          li {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}

.footer {
  max-width: 670px;
  margin: 5rem auto;
  padding: 3rem 0;
  border-top: 1px solid rgba(215, 215,215,0.1);

  section {
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-between;

    .navigation {
      p {
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin-bottom: 0.5rem;
      }

      a {
        font-size: 1rem;
        color: var(--pink-600);
        transition: filter 0 0.2s;

        &:hover {
          filter: brightness(0.8);
        }

        & + div {
          text-align: right;
        }
      }
    }
  }
}
